<script type="text/javascript">
			$(document).ready(function() {
				$('table').Scrollable(120, 538);
			});
</script>

  <div class="fleft smallleft boxxy">
    <h2>Welcome to The Dublin Event Publisher</h2>
    <p class="paddy flatbottom">This web site allows Event organizers the ability to enter
        the details of their upcoming events to a central database. The event
        organizer has the ability to store details of their event, maintain
        a list of email contacts and make notifications of new events by
        Twitter and email. Registration is required to begin entering your events.
         <%= link_to 'Registration', new_user_path  %> is simple and straightforward and you'll be
        up and running in no time.
    </p> 
    <p class="paddy"> Events can be searched for and viewed within the application. No registration
        is required to view events. Select the View Events button below to view upcoming
        events in Dublin.
    </p>
    <%= link_to "Event Search",select_events_path , :class => "listings_button" %>
  </div>
<div class="fleft tinyleft actions">
<h3>Upcoming Events</h3>
<div class="borderstyle">
<table>
  <thead>
  <tr>
    <th>Title</th>
    <th>Date</th>
    <th>Location</th>
    <th></th>
  </tr>
  </thead>
<% if !@events.nil? %>
  <tbody>
<% @events.each do |event| %>
  <tr>
    <td><%= event.title %></td>
    <td><%= event.date.strftime("%a %b %d %Y") %></td>
    <td><%= event.short_location %></td>
    <td><%= link_to 'Details', event  %></td>
  </tr>
<% end %>
  </tbody>
  <% end %>
</table>
</div>
</div>
  <div id="showevent" class ="fleft tinyleft">
  <h2>Featured Event</h2>
   <% if !@event.nil? %>
    <span class="spancontent"><%= @event.title %></span><br/>
    <span class="spancontent">on:  <%=  @event.date.strftime("%d %b %Y")%></span><br/><br/>

    @ <%= @event.short_location %>

    <br/><br/>
    
    This is a <%= @event.cost %> event organized by<br/>
    <%= @event.organizer.organization %><br/><br/>
  
     <%= link_to "more information >>",event_path(@event)  %><br/>
    <% else %>
    <p> There are no featured events at present. If you would like
      your event to appear on this home page please contact us.
    </p>
    <% end %>
</div>
<div id="twitter_div" class="fleft displayboxxy">
<h2 class="sidebar-title">Twitter Updates</h2>
<ul id="twitter_update_list"></ul>
<a href="http://twitter.com/seantwitter" id="twitter-link" style="display:block;text-align:right;">follow us on twitter</a>
</div>
<script type="text/javascript" src="http://twitter.com/javascripts/blogger.js"></script>
<script type="text/javascript" src="http://twitter.com/statuses/user_timeline/seantwitter.json?callback=twitterCallback2&amp;count=5"></script>


<div class="clear"></div>
