<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.7/themes/base/jquery-ui.css" type="text/css" media="all" />
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>

  
<script  type="text/javascript">
        $(document).ready(function () {    
        $("#event_organizer_id").hide();      
        $("#event_date").datepicker({dateFormat: 'dd/mm/yy'});
        $("#event_end_date").datepicker({dateFormat: 'dd/mm/yy'});
         $("#event_date").change( function(){
           var sdate = $("#event_date").val();
           $("#event_end_date").val(sdate);
           $('#event_start_time').focus();
         });
        });


</script>

<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field fleft">
  <label>Select Location </label><br/>
  <%=  collection_select(:event, :location_id, @locations, :id, :location_name, {:include_blank => 'Please Select' }) %>
  
  </div>
  
<div class="clear"></div>
  <div class="field fleft">
    <%= f.label :title %><br />
    <%= f.text_field :title , :size => 50 %>
  </div>
<div class="field fleft">
  <label>Select Category </label><br/>
  <%=  collection_select(:event, :category_id, @categories, :id, :category_name, {:include_blank => 'Please Select' }) %>
  </div>
 <div class='clear'></div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, :rows => 5 %>
  </div>
  
  <div class="field fleft">
    <%= f.label :date %><br />
    <%= f.text_field :date , :size => 10 %>
  </div>
  <div class="field fleft padleft">
    <%= f.label :start_time %><br />
    <%= f.text_field :start_time , :size => 10 , :class => 'time'%>
  </div>
  <div class="field fleft padleft">
    <%= f.label :end_date %><br />
    <%= f.text_field :end_date , :size => 10 %>
  </div>

  <div class="field fleft padleft">
    <%= f.label :event_url %><br />
    <%=  f.text_field :event_url  %>
    <img alt="info" id ="urlinfo" title="Enter URL address including http - e.g. http://www.ncirl.ie" src="/images/information.jpg" />
  </div>

  <div class="field fleft padleft">
    <%= f.label :cost %><br />
  <%=  select(:event,:cost,@costs) %>
  </div>
 <div class="fleft padleft">
   Send Tweet ? <br />
  yes<%=  radio_button("twitter", "tweet", "yes",:checked => true) %>
  no<%=  radio_button("twitter", "tweet", "no") %>
 </div>


  <%= f.text_field :organizer_id , :size => 10 %>

  <div class="clear"></div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
