<%= javascript_include_tag :defaults %>

 <%= render 'layouts/organizer_navigation' %>
<div class="clear"></div>
<div class="bigleft">
  <h2>My Events</h2>
<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Date</th>
    <th>Location</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= event.title %></td>
    <td style="width: 350px;"><%= (event.description.length > 50) ? (event.description[0..49] + '...') : event.description %></td>
    <td><%= event.date.strftime("%m/%d/%Y") %></td>
    <td><%= event.short_location %></td>
    <td><%= link_to 'Show', event %></td>
    <td><%= link_to 'Edit', edit_event_path(event) %></td>
    <td><%= link_to 'Destroy', event, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Event', new_event_path %>
</div>
 <div class="clear"></div>