<%= stylesheet_link_tag 'tooltip' %>

<script type="text/javascript">
    var map = null;
    var geocoder = null;
    var markerOptions =null;
    var eventlon = null;
    var eventlat = null;
    var iconList = { eating: "yellow", hotel: "orange",convenience: "brown", pub: "green", transport: "gray", atm: "purple", supermarket: "white", bikerental: "blue"};

    function initialize() {
      if (GBrowserIsCompatible()) {
        
        // Create our "tiny" marker icon
        var tinyIcon = new GIcon();
        tinyIcon.image = "/images/mm_20_yellow.png";
        tinyIcon.shadow = "/images/mm_20_shadow.png";
        tinyIcon.iconSize = new GSize(12, 20);
        tinyIcon.shadowSize = new GSize(22, 20);
        tinyIcon.iconAnchor = new GPoint(6, 20);
        tinyIcon.infoWindowAnchor = new GPoint(5, 1);

        // Set up our GMarkerOptions object
        markerOptions = { icon:tinyIcon };
        map = new GMap2(document.getElementById("map_canvas"));
        map.setCenter(new GLatLng(53.348867,-6.243162), 13);
        geocoder = new GClientGeocoder();
      }
    }
    function loadMaps() {
             google.load("maps", "2.x", {"callback" : initialize});
    }

    function loadScript() {
      var script = document.createElement("script");
      script.src = "https://www.google.com/jsapi?key=<%=@googleapi%>&callback=loadMaps";
      script.type = "text/javascript";
      document.getElementsByTagName("head")[0].appendChild(script);
      }
      
    function clearOverlayDetails() {
        map.clearOverlays();
      }

    function locateBusiness(address,title,lat,longit) {
        map.clearOverlays();
        $('div#rightbaroverlay').show();
        eventlon = longit;
        eventlat = lat;
        point = new GLatLng(lat,longit);
        marker = new GMarker(point);
        map.addOverlay(marker);
        map.addControl(new GLargeMapControl());
        map.setCenter(point, 15);
        GEvent.addListener(marker, "click", function() {
          marker.openInfoWindowHtml(address + '<br>' +
          '<b>Event:</b> ' + title);
        });
        marker.openInfoWindowHtml(address + '<br>' +
          '<b>Event:</b> ' + title);
      }
      function placeOverlays(name,amenity,lat,longit) {

        point = new GLatLng(lat,longit);
        markerOptions.title = amenity + ' ' + name;
        markero = new GMarker(point,markerOptions);
        GEvent.addListener(markero, "click", function() {
          marker.openInfoWindowHtml(name + '<br>' +
          '<b>Amenity:</b> ' + amenity);
        });
        map.addOverlay(markero);
      }

  $(document).ready(function () {
        window.onload = loadScript;
      
        $(".tooltips").hover(
			function() { $(this).contents("span:last-child").css({ display: "block" }); },
			function() { $(this).contents("span:last-child").css({ display: "none" }); }
		);

	$(".tooltips").mousemove(function(e) {
			var mousex = e.pageX + 10;
			var mousey = e.pageY + 5;
			$(this).contents("span:last-child").css({  top: mousey, left: mousex });
		});

        $("#QRCODE").attr({ src: "http://api.qrserver.com/v1/create-qr-code/?data='http://events-store.appspot.com/event/<%= @event.id %>'&amp",
          title: "",alt: "QR Code"});

        if(('#QRCODE').length > 0) {
          console.log("image exists");
        } else {
          alert("image doesn't exist");
        }

        $('div#rightbaroverlay').hide();
      
        $('div#overlaydistance input:radio[name=overlay]').change(function() {
          var rangeshow = this.value;
          if (rangeshow == "0.1") 
             {
               map.closeInfoWindow();
               map.setCenter(point,17);
             }
           else {
             map.closeInfoWindow();
             map.setCenter(point,16);
           }
          
        });

        $("button#removeoverlay").click(function (e) {
          e.preventDefault();
          clearOverlayDetails();
        });

        $("div#overlays button").click(function (e) {
                e.preventDefault(); /* prevents form from being submitted */
                var dist = $('div#overlaydistance input:radio[name=overlay]:checked').val()
                $.ajax({
                    type: "Get",
                    url: '/overlays.json',
                    data: { value: this.textContent, distance: dist, lon: eventlon, lat: eventlat},
                    dataType: "json",
                    success: function (response) {
                        var overlays = response;
                        var ic = iconList[(this.data.split("&")[0].split("=")[1]).replace("+","")];
                        var imageText = "/images/mm_20_" + ic + ".png";
                        markerOptions.icon.image = imageText;
                        for (var i=0; i<overlays.length; i++)
                          {
                            var lat = overlays[i].overlay.lat;
                            var lon = overlays[i].overlay.lon;
                            var name = overlays[i].overlay.name;
                            var amenity = overlays[i].overlay.amenity;
                            placeOverlays(name,amenity,lat,lon);
                          }
                          point = new GLatLng(eventlat,eventlon);
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) { 
                      // handle error
                      var i = 0;
                    }
                });
            });
});
</script>

<% if signed_in? %>
 <%= render 'layouts/organizer_navigation' %>
<% end  %>
<div class="clear"></div>
<div class="bigleft"><h3>Events Details</h3></div>
<div id="showevent" class ="fleft bigleft">
  
  <span class="spancontent"><%= @event.title + " on: " + @event.date.strftime("%d %b %Y")%></span><br/>
  <span class ="spanlocation">Show event
  <%= link_to_function 'location', "locateBusiness(\'#{@event.location.location_name}\',\'#{@event.title}\',#{@event.location.geo_lat},#{@event.location.geo_long})" %>
  </span>
  <br/>
  <span class="spancontent">Description</span>
  <p class="smallerpara">
  [<%= @event.description %>]</p><br/>
  This is a <%= @event.cost %> event organized by<br/>
  <%= @event.organizer.organization %><br/>
  [<a href="mailto:<%= @event.organizer.email %>"> email</a>] [
  <%= link_to  "event URL",@event.event_url, :remote => true %>]<br/>
  <div class="tooltips"style="width: 100px;">
  <img id="QRCODE" height="100" width="100"/>
  <p class="tiny" title="">Right click to save QR Code</p>
  <span class="tools tooltip-style1">
    Use this QR code in any marketing material to allow users save this event to their smartphone</span>
  </div>
  </div>

<div class="fleft">
 <div id="map_canvas" class="smalltop"style="margin-left: 20px; width: 400px; height: 400px; float: left;"></div>

 <div id="rightbaroverlay" class="fleft">
 <div id="overlaydistance" class=" padleft">
   Facilities Within  <br />  
  100<%=  radio_button_tag("overlay", "0.1") %>
  500<%=  radio_button_tag("overlay", "0.5",:checked => true) %>(mtrs)
 </div>
 <div id="overlays" >
  <button  id="overlay">eating</button><img class="icons" src ="/images/mm_20_yellow.png" alt=" map icon"/>
  <button  id="overlay">hotel</button><img class="icons" src ="/images/mm_20_orange.png" alt=" map icon"/>
  <button  id="overlay">transport</button><img class="icons" src ="/images/mm_20_gray.png" alt=" map icon"/>
  <button  id="overlay">atm</button><img class="icons" src ="/images/mm_20_purple.png" alt=" map icon"/>
  <button  id="overlay">convenience</button><img class="icons" src ="/images/mm_20_brown.png" alt=" map icon"/>
  <button  id="overlay">supermarket</button><img class="icons" src ="/images/mm_20_white.png" alt=" map icon"/>
  <button  id="overlay">pub</button><img class="icons" src ="/images/mm_20_green.png" alt=" map icon"/>
  <button  id="overlay">bike rental</button><img class="icons" src ="/images/mm_20_blue.png" alt=" map icon"/>
 </div>
 <div id="clearoverlay" >
  <button  id="removeoverlay">Clear</button>
 </div>
</div>
 
</div>
<div class="clear"></div>
<div class="bigleft">
<% if !signed_in? %>
 <%= link_to "Back to Event Search", select_events_path %>
<% end  %>
 </div>
