<h2>Upload Contacts File</h2>
<%= render 'layouts/organizer_navigation' %><br/>
<div class="paddeddiv clear">
<%= form_for :dump, :url=>{ :action=>"csvup"},
                    :html => { :multipart => true } do |f| %>
 <table>
   <tr>
     <td>
      <label for="dump_file">
        Select a CSV File :
      </label>
     </td>
     <td >
       <%= f.file_field :file %>
     </td>
   </tr>
   
 </table><br/><br/>
<%= submit_tag 'Submit' %>
<% end %>
</div>
<%= link_to 'New Email Contact', new_organizer_email_path(@organizer) %> |
<%= link_to 'Contact List', organizer_emails_path(@organizer) %>

