 <%= javascript_include_tag :defaults %>

 <%= render 'layouts/organizer_navigation' %>

 <div class="clear"></div>
 <div class="bigleft">
   <h3>Email Contacts</h3>
   <br/>
<table>
  <tr>
    <th>Last Name</th>
    <th>First Name</th>
    <th>Email Address</th>
    <th></th>
    <th></th>
  </tr>

<% @emails.each do |em| %>
  <tr>
    <td><%= em.last_name %></td>
    <td><%= em.first_name %></td>
    <td><%= em.email %></td>
    <td><%= link_to 'Edit', edit_organizer_email_path(@organizer,em) %></td>
    <td><%= link_to "Delete",organizer_email_path(@organizer,em) ,:confirm => 'Are you sure?', :method => :delete%></td>
  </tr>
<% end %>
</table><br/><br/>

 
<%= link_to 'New Email Contact', new_organizer_email_path(@organizer) %> |
<%= link_to 'Upload from File', emailupload_path(@organizer) %>
</div>
 <div class="clearfix"></div>


