
<script type="text/javascript">
        $(document).ready(function () {
        $('#location_location_name').focus();
        window.onload = loadScript;
        $("#locate").click(function (e) {
                e.preventDefault(); /* prevents form from being submitted */
                var ikey = $('#location_location_name').val();
                
                var geoloc = locateGeo(ikey,$('#location_geo_lat'),$('#location_geo_long'));
            });
        });

    var map = null;
    var geocoder = null;
    var pts = new Array();

    function initialize() {
        var myOptions = {
          zoom: 13,
          center: new google.maps.LatLng(53.348867,-6.243162),
          zoomControl: true,
          zoomControlOptions: {
          style: google.maps.ZoomControlStyle.LARGE},
          title: 'Click to zoom',
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        map = new google.maps.Map(document.getElementById('map_canvas'),myOptions);
    }

    function loadScript() {
        var script = document.createElement('script');
        script.type = 'text/javascript';
        script.src = 'http://maps.googleapis.com/maps/api/js?sensor=false&' +
            'callback=initialize';
        document.body.appendChild(script);
      }

    function locateBusiness(address,lat,longit,elem1,elem2,marker) {
        

        google.maps.event.addListener(marker, "dragstart", function() {
          
        });

        google.maps.event.addListener(marker, "dragend", function() {
           var point = marker.getPosition();
           elem1.val(point.lat());
           elem2.val(point.lng());
           map.panTo(point);
        });
        
        
      }
    function locateGeo(address, elem1,elem2) {
      
      geocoder = new google.maps.Geocoder();
      if (geocoder) {
        geocoder.geocode( { 'address': address}, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
        point = results[0].geometry.location;
        elem1.val(point.lat());
        elem2.val(point.lng());
        map.setCenter(results[0].geometry.location);
        map.setZoom(15);
        var marker = new google.maps.Marker({
            map: map,
            position: results[0].geometry.location,
            draggable: true
        });
        locateBusiness(address,point.lat(),point.lng(),elem1,elem2,marker)
      } else {
        alert("Geocode was not successful for the following reason: " + status);
      }
      });
     }
    }
</script>
<%= form_for(@location) do |f| %>
  <% if @location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@location.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @location.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :location_name %><br />
    <%= f.text_field :location_name %><br />
    <button name="locate" id="locate" >Locate</button>
  </div>
  <div class="field">
    <%= f.label :geo_lat %><br />
    <%= f.text_field :geo_lat %>
  </div>
  <div class="field">
    <%= f.label :geo_long %><br />
    <%= f.text_field :geo_long %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
