<%= render 'layouts/googleapi' %>
<script type="text/javascript">
        $(document).ready(function () {
        initialize();
         $('#location_location_name').focus();
        $("#locate").click(function (e) {
                e.preventDefault(); /* prevents form from being submitted */
                var ikey = $('#location_location_name').val();
                
                var geoloc = locateGeo(ikey,$('#location_geo_lat'),$('#location_geo_long'));
            });
        });

    var map = null;
    var geocoder = null;
    var pts = new Array();

    function initialize() {
      if (GBrowserIsCompatible()) {
        map = new GMap2(document.getElementById("map_canvas"));
        map.setCenter(new GLatLng(53.348867,-6.243162), 13);
        geocoder = new GClientGeocoder();
      }
    }
     function locateBusiness(address,lat,longit,elem1,elem2) {
        map.clearOverlays();
        point = new GLatLng(lat,
                            longit);
        marker = new GMarker(point, {draggable: true});

        GEvent.addListener(marker, "dragstart", function() {
          map.closeInfoWindow();
        });

        GEvent.addListener(marker, "dragend", function() {
          var point = marker.getLatLng();
           elem1.val(point.y);
           elem2.val(point.x);
        });
        map.addOverlay(marker);
        map.addControl(new GLargeMapControl());
        map.setCenter(new GLatLng(lat,longit), 15);
        
      }
    function locateGeo(address, elem1,elem2) {
      
      geocoder = new GClientGeocoder();
      if (geocoder) {
        geocoder.getLatLng(
          address,
          function(point) {
            if (!point) {
              alert(address + " not found");
            } else {              
              var marker = new GMarker(point);
              elem1.val(point.y);
              elem2.val(point.x);
              locateBusiness(address,point.y,point.x,elem1,elem2)
    
            }
          }
       );
    
       }}

</script>
<%= form_for(@location) do |f| %>
  <% if @location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@location.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @location.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :location_name %><br />
    <%= f.text_field :location_name %><button name="locate" id="locate" >Locate</button>
  </div>
  <div class="field">
    <%= f.label :geo_lat %><br />
    <%= f.text_field :geo_lat %>
  </div>
  <div class="field">
    <%= f.label :geo_long %><br />
    <%= f.text_field :geo_long %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
