
<div class="fleft selectionbox">
  <h3>Events </h3>
  <%= form_for @store, :as => :store, :url => view_events_path, :html => {:method => :post} do |f| %>
  <div class="field">
      <label>Select Category </label><br/>
      <%=  collection_select( :store, :category, @categories, :id, :category_name, {:include_blank => 'Please Select' }) %>
  </div>
  <div class="field ">
      <label>In The Next </label><br/>
      <%=  select(:store,:date,@dateselect) %>
  </div>
  <div class="actions">
   <input id="event_submit" name="commit" type="submit" value="Select" />

  </div>
  <% end %>
  <a href="#" id="gridview" class="buttsel">Grid View</a>
  <a href="#" id="calview" class="buttsel">Calendar View</a>
</div>
  <div id="grid" class="fleft smallleft bigtop">
   <table>
   <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Date</th>
    <th>Location</th>  
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= event.title %></td>
    <td style="width: 350px;"><%= event.short_desc %></td>
    <td><%= event.date.strftime("%m/%d/%Y") %></td>
    <td><%= event.short_location %></td>
    <td><%= link_to 'Show', event %></td>
  </tr>
<% end %>
</table> 
  </div>

<div id="calendar" style="float:left;width: 820px;margin: 0 auto;"></div>
<div class="clear"></div>
<script>

                var date = new Date();
		var d = date.getDate();
		var m = date.getMonth();
		var y = date.getFullYear();
                var url = document.URL.split('/');
                urlpost='http://'+url[2]+'/events/calanderevents.json'


		$('#calendar').fullCalendar({
			header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month,agendaWeek,agendaDay'
			},
			editable: false,
			events: urlpost
		});
                 $(document).ready(function(){
                   $('#calendar').hide();
                   $('#gridview').hide();
                   $("#calview").click(function(){
                     $('#calendar').show();
                     $('#grid').hide();
                     $('#calview').hide();
                     $('#gridview').show();
                    });
                    $("#gridview").click(function(){
                     $('#calendar').hide();
                     $('#grid').show();
                     $('#calview').show();
                     $('#gridview').hide();
                    });
                 });

</script>
