<!DOCTYPE html>
<html>
<head>
  <title>EventPublisher</title>

  <%= stylesheet_link_tag 'index' %>
  <%= stylesheet_link_tag 'fullcalendar' %>
  <%= stylesheet_link_tag 'fullcalendar.print' %>
  <%= javascript_include_tag 'jquery-1.4.1' %>
  <%= javascript_include_tag 'jquery.timepicker' %>
  <%= javascript_include_tag 'fullcalendar.min' %>
  <script type="text/javascript" src="http://www.webtoolkit.info/djs/webtoolkit.scrollabletable.js"></script>
  <script type="text/javascript" src="http://www.webtoolkit.info/djs/webtoolkit.jscrollable.js"></script>

  <%= csrf_meta_tag %>
  <script type="text/javascript">
  jQuery.noConflict();
  var $ = jQuery;
  </script>
  <script type="text/javascript">
    $(document).ready(function(){
  // Reset Font Size
  var originalFontSize = $('html').css('font-size');
  $(".resetFont").click(function(){
  $('html').css('font-size', originalFontSize);
  });
  // Increase Font Size
  $(".increaseFont").click(function(){
  	var currentFontSize = $('html').css('font-size');
 	var currentFontSizeNum = parseFloat(currentFontSize, 10);
    var newFontSize = currentFontSizeNum*1.2;
	$('html').css('font-size', newFontSize);
	return false;
  });
  // Decrease Font Size
  $(".decreaseFont").click(function(){
  	var currentFontSize = $('html').css('font-size');
 	var currentFontSizeNum = parseFloat(currentFontSize, 10);
    var newFontSize = currentFontSizeNum*0.8;
	$('html').css('font-size', newFontSize);
	return false;
  });
});

  </script>
</head>
<body >
<div id="container">
      <div class="header">  
        
        <div class="fleft">
           <%= image_tag("tccd.jpg", :alt => "Event Publisher", :class => "round fleft") %>
        </div>
         <h1 id="titlehead" class="fleft">Dublin Event Publisher</h1>
         <div class="nav fleft topnav">
          <ul>
            <li><%= link_to "Home", '/' %></li>
            <li><%= link_to "Help", '#' %></li>
            <li><%= link_to "Register", new_user_path %></li>
             <% if signed_in? %>
            <li><%= link_to "Sign out ", signout_path, :method => :delete %></li>
            welcome [<%= link_to current_user.account, events_path %>]
            <% else %>
            <li><%= link_to "Sign in", new_session_path %></li>

            <% end %>
          </ul>
        </div>
        
      </div>
      <div class="clear"></div>
      <div class="round">
        <% flash.each do |key, value| %>
          <div class="flash <%= key %>"><%= value %></div>
        <% end %>


        <%= yield %>
      
      <div class="smalltop">
          <span>  Text Size: </span>
          <a href="#" class="increaseFont">Larger</a>
          <a href="#" class="decreaseFont">Smaller</a>
          <a href="#" class="resetFont">Reset</a>
      </div>
     </div>
    </div>
 <%= debug(params) if Rails.env.development? %>

</body>
</html>
